.App {
  text-align: center;
}
.container {
  margin-left: 10%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 325px;
  margin-bottom: 10px;
  /* margin-top: 1px; */
}
.numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  width: 185px;
  border: 1px solid silver;
  background: silver;
}
.baseFunctions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 125px;
  border: lightgray 1px solid;
  background-color: lightgray;
}

.extraFunctions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 320px;
  margin-left: 10%;
  /* margin-top: 1px; */
  background-color: #4285f4;
  border: 1px solid blue;
}
.buttons {
  height: 45px;
  width: 60px;
  /* margin: 10px; */
  border-radius: 10px;
  font-size: 30px;
  margin: 1px;
  /* opacity: 75%; */
  box-shadow: 2px 2px;
}
p {
  font-size: 30px;
}

.word {
  font-size: 17px;
}
.display {
  width: 320px;
  border: 1px solid black;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.resultDisplay {
  text-align: left;
  font-size: 18px;
}
.current {
  grid-column: 1 / span 2;
  word-wrap: break-word;
}
.mode {
  font-size: 14px;
}
.long {
  font-size: 14px;
}
.App {
  border: #4285f4 10px solid;
  border-radius: 30px;
  width: 400px;
  margin-left: 35%;
}
